<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight([%thread]) %green(%-5level) %cyan(%logger{36}) : %msg%n%xException{5}</pattern>
        </encoder>
    </appender>
<!--    todo check confirm with team we need reflection logs here? And does it provide problems with custom logging-->
    <logger name="com.bobocode.svydovets" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="error">
        <appender-ref ref="console"/>
    </root>
</configuration>
